#pane {
    -fx-background-image: url("https://i.pinimg.com/originals/99/22/56/992256f43d4db8fd780d5cf679a23d8c.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}