#pane {
    -fx-background-image: url("https://i.pinimg.com/originals/ec/40/af/ec40af43459fdc620f6ad873a6ac46de.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}